.card-team {
  padding: 10px;
  flex: 1;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 320px;
}

.profile {
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
}

.team-name,
.team-position {
  text-align: center;
}

.team-desc {
  line-height: 1.5;
}

@media screen and (max-width: 720px) {
  .card-team {
    width: 100%;
  }
  .profile-pic {
    border-radius: 50%;
    width: 70px;
  }
  .team-desc {
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.7rem + 0.9vw, 1.3rem);
  }
}
