.brands {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
}

.brands-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.brand-logo {
  width: 10%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

@media only screen and (max-width: 590px) {
  .brands-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
 }