.card {
  max-width: 350px;
  border: 0.25px solid #222222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.card-header {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background: #51aeb6;
  display: flex;
  flex-direction: column;
  color: #f4f4f4;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
}

.card-price {
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
}

.price {
  font-size: 24px;
}

.card-body {
  margin: 30px 35px;
}

.card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222;
}

.card-desc > * {
  list-style: disc;
}

.cta-plan {
  text-transform: uppercase;
  height: 30.79px;
  border: 1.97872px solid #7006a3;
  color: #7006a3;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}
