.header {
  height: 100px;
  width: 100vw;
  background-color: #2ae5b6;
}

.navbar {
  padding-left: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clipped {
  width: 100%;
  height: 100%;
  background-color: #51aeb6;
  clip-path: polygon(26.3% 0%, 100% 0%, 100% 100%, 18.6% 100%);
}

.logo {
  width: 100%;
  height: 100%;
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-tagline {
  display: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}

.logo img {
  max-width: auto;
  max-height: 40px;
}

.menu-icon {
  max-height: auto;
}

.navlinks {
  flex: 2;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

@media only screen and (max-width: 590px) {
  .navlinks {
    padding: 20px 50px;
    background-color: #2ae5b6;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 100px;
    right: 0px;
  }
}

.navlinks.slide-in-right {
  animation: slide-in-right 0.5s ease-in;
}

.navlinks.open {
  display: flex;
}

.navlinks.closed {
  /* styles for when the nav is closed */
  right: -100%;
}

.navlink a {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.navlink:last-child {
  width: 90px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #7006a3;
}

.navlink:last-child a {
  display: inline-block;
  font-weight: 500;
  color: #7006a3;
  text-align: center;
  padding: 5px 10px;
}

.navlink:last-child a:hover {
  color: #fff;
  background-color: #7006a3;
}
